MOCK=0
DISABLE_TRANSACTION_BROADCAST=1
COINAPPS="/path/to/coin-apps"

# SWAP and sync (set these together to sync envs):
# Options: STAGING | PROD (see docs for endpoint values)
SWAP_API_BASE="https://swap-stg.ledger-test.com/v5"
# Options: STAGING | PROD
LEDGER_SYNC_ENVIRONMENT="STAGING"

# SPECULOS:
SPECULOS_IMAGE_TAG="ghcr.io/ledgerhq/speculos:latest"
# Options: nanoSP | nanoX | nanoS | stax | flex | nanoGen5
SPECULOS_DEVICE="nanoSP"
