# development seed. geenrated with https://iancoleman.io/bip39/
SEED=your 12/15/24 words
# has to be a token classic
GH_TOKEN=gh_p
API_PORT=4040
# Only needed if you are on a apple chip
SPECULOS_IMAGE=speculos
