# development seed. geenrated with https://iancoleman.io/bip39/
SEED=chronic find success crew board merit elder life achieve scout gravity soul brief pen job
# has to be a token classic
GH_TOKEN=gh_token
API_PORT=4040
# Only needed if you are on a apple chip
SPECULOS_IMAGE=speculos
