@import "tailwindcss/theme.css";
@import "tailwindcss/preflight.css";
@import "tailwindcss/utilities.css";

@config "../tailwind.config.ts";

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;900&display=swap");

body {
  margin: 0;
  height: 100%;
  padding: 0;
  font-family: Inter, sans-serif;
  position: relative;
}

* {
  box-sizing: border-box;
}

@media print {
  .printbreakinside {
    position: relative;
    page-break-inside: avoid;
  }
}

a,
a:visited,
a:hover {
  color: #3f51b5;
  opacity: 0.8;
  text-decoration: none;
}
a:hover {
  opacity: 1;
}
