{
  "parser": "babel-eslint",
  "extends": [
    "airbnb",
    "plugin:flowtype/recommended",
    "prettier",
    "prettier/react"
  ],
  "plugins": ["flowtype"],
  "rules": {
    "no-console": 0,
    "no-unused-vars": [
      "error",
      {
        "argsIgnorePattern": "^_",
        "vars": "all",
        "args": "after-used",
        "ignoreRestSiblings": true
      }
    ],
    "no-shadow": 0,
    "no-plusplus": 0,
    "no-nested-ternary": 0,
    "global-require": 0,
    "no-restricted-globals": 0,
    "no-restricted-syntax": 0,
    "import/extensions": 0,
    "import/no-mutable-exports": 0,
    "import/prefer-default-export": 0,
    "no-use-before-define": 0,
    "react/sort-comp": 0,
    "react/prefer-stateless-function": 0,
    "react/jsx-filename-extension": 0,
    "react/no-multi-comp": 0,
    "react/no-unused-state": 0,
    "no-await-in-loop": 0,
    "class-methods-use-this": 0,
    "react/no-unused-prop-types": 0,
    "react/require-default-props": 0,
    "prefer-destructuring": 0
  },
  "globals": {
    "__DEV__": false,
    "__REDUX_DEVTOOLS_EXTENSION__": false,
    "fetch": false,
    "it": false,
    "expect": false
  }
}
