.DS_Store
node_modules
.turbo
.vscode/*
!.vscode/launch.json
!.vscode/extensions.json
.pnpm-*
/temp
.idea
.eslintcache
tsconfig.tsbuildinfo
rce
.env
coverage
db.sqlite*
.secrets
event.json
libs/ui/packages/react/debug-storybook.log
libs/ui/packages/react/rsbuild.config.d.ts
libs/ui/packages/react/rsbuild.config.d.ts.map
libs/ui/packages/react/rsbuild.config.js
libs/ui/packages/react/rsbuild.config.js.map
.zed
