enable-pre-post-scripts=true

# Workaround for Prefab 2.1.0 / Clikt bug splitting paths at '='
# See: https://github.com/google/prefab/issues/187
virtual-store-dir-max-length=80
auto-install-peers=true
save-exact=true
