shared-workspace-lockfile=true
enable-pre-post-scripts=true
hoist=false
strict-peer-dependencies=false
dedupe-peer-dependents=false

public-hoist-pattern[]=@babel/*
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
public-hoist-pattern[]=@types/react
public-hoist-pattern[]=@types/react-native


