# Live DX Team
.github/              @ledgerhq/live-eng-core
scripts/              @ledgerhq/live-eng-core
tools/                @ledgerhq/live-eng-core
fastlane/             @ledgerhq/live-eng-core

# Live Blockchain Support Team
apps/**/families/                                                    @ledgerhq/live-blockchain-support
apps/ledger-live-desktop/src/live-common-set-supported-currencies.*  @ledgerhq/live-blockchain-support
apps/ledger-live-mobile/src/live-common-setup.*                      @ledgerhq/live-blockchain-support
libs/ledger-live-common/src/families                                 @ledgerhq/live-blockchain-support
libs/ledgerjs/packages/cryptoassets                                  @ledgerhq/live-blockchain-support
libs/ledgerjs/packages/types-cryptoassets                            @ledgerhq/live-blockchain-support
libs/ledgerjs/packages/hw-app-*                                      @ledgerhq/live-blockchain-support
libs/coin-*                                                          @ledgerhq/live-blockchain-support
libs/domain-service                                                  @ledgerhq/live-blockchain-support
ledgerjs/packages/evm-tools                                          @ledgerhq/live-blockchain-support
libs/docs                                                            @ledgerhq/live-blockchain-support


# PTX
ledger-live-desktop/src/renderer/screens/exchange/  @ledgerhq/ptx
ledger-live-mobile/src/screens/Exchange/            @LedgerHQ/ptx
ledger-live-common/src/exchange/                    @LedgerHQ/ptx

# Wallet API
ledger-live-common/src/platform/                    @LedgerHQ/wallet-api

# Live Devices Team
apps/**/components/DeviceAction/        @ledgerhq/live-devices
ledger-live-mobile/src/screens/Manager/ @ledgerhq/live-devices
ledger-live-common/src/hw/              @ledgerhq/live-devices
ledger-live-common/src/apps/            @ledgerhq/live-devices
ledger-live-common/src/manager/         @ledgerhq/live-devices
ledgerjs/packages/types-devices/        @ledgerhq/live-devices
ledgerjs/packages/devices/              @ledgerhq/live-devices
ledgerjs/packages/hw-transport-*        @ledgerhq/live-devices
ledgerjs/packages/react-native-*        @ledgerhq/live-devices


# Live QA Team
ledger-live-desktop/tests/**/*-snapshots/ @ledgerhq/live-qa

# Cross-teams
.github/**/bot-*.yml                 @gre @ledgerhq/live-blockchain-support @ledgerhq/live-qa
ledgerjs/packages/types-live/        @gre @ledgerhq/live-blockchain-support  @LedgerHQ/wallet-api @ledgerhq/live-devices
