name: "[Tests] CI Tests"
on:
  pull_request:
    branches:
      - "*"
  push:
    branches:
      - develop
      - master

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{github.event.pull_request.head.ref}}
          repository: ${{github.event.pull_request.head.repo.full_name}}
      - uses: actions/setup-node@master
        with:
          node-version: 14.x
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.6 # Not needed with a .ruby-version file
          bundler-cache: true # runs 'bundle install' and caches installed gems automatically
      - name: get yarn cache
        id: yarn-cache
        run: echo "::set-output name=dir::$(yarn cache dir)"
      - uses: actions/cache@v1
        with:
          path: ${{ steps.yarn-cache.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-
      - uses: ledgerhq/actions/packages/has-hash-commit-deps@main
        id: has-hash-commit-deps
        with:
          workspace: ${{ github.workspace }}
      - name: install dependencies
        if: ${{ steps.has-hash-commit-deps.outputs.has-hash-commit-deps == 'true' }}
        env:
          JOBS: max
        run: yarn --frozen-lockfile --network-timeout 100000 --network-concurrency 1
      - name: install dependencies
        if: ${{ steps.has-hash-commit-deps.outputs.has-hash-commit-deps == 'false' }}
        env:
          JOBS: max
        run: yarn --frozen-lockfile --network-timeout 100000
      - name: test
        run: yarn test
      - name: flow
        run: yarn flow
      - name: crowdin protect
        run: yarn global add jsonlint && jsonlint src/locales/en/common.json
