# OSX
#
.DS_Store

# Xcode
#
ios/Index/*
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.dSYM.zip
*.xcuserstate
ios/.xcode.env.local

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml
*.hprof
.cxx/
*.keystore
!debug.keystore

# node.js
#
node_modules/
npm-debug.log
yarn-error.log

# jest
coverage/
**/__snapshots__/

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/screenshots
**/fastlane/metadata
**/fastlane/**.md
**/fastlane/Appfile
**/fastlane/Matchfile
**/fastlane/certs
**/fastlane/**,
**/fastlane/**}
**/fastlane/test_output


# Bundle artifact
*.jsbundle

# VS Code
*.vscode

# jest
coverage/
**/__snapshots__/

# misc
.env
.env.default
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.yalc/*
yalc.lock

third-party/

xliffs/

src/generated/

# CocoaPods
/ios/Pods/
/vendor/bundle/

# Detox
artifacts/
allure-results/

#CI
**/vendor/**
**/*.jks

# temp directory
/temp

# Temporary files created by Metro to check the health of the file watcher
.metro-health-check*
