*                                      @ledgerhq/live-hub
yarn.lock                              @ledgerhq/ledger-live
pnpm-lock.yaml                         @ledgerhq/ledger-live
package.json                           @ledgerhq/ledger-live
.github                                @ledgerhq/live-devx
fastlane                               @ledgerhq/live-devx
src/families                           @ledgerhq/live-blockchain-support
src/live-common-setup.js               @ledgerhq/live-blockchain-support
src/components/DeviceAction            @ledgerhq/live-devices
src/screens/Manager                    @ledgerhq/live-devices
src/screens/Exchange                   @ledgerhq/live-platform-and-services
