<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>378388156694-incg13pjg9k0ksfmd1jcafc7pksmdpm3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.378388156694-incg13pjg9k0ksfmd1jcafc7pksmdpm3</string>
	<key>API_KEY</key>
	<string>AIzaSyCB0mOLuTcjM37k-66O5WKgJkogyzsmB6I</string>
	<key>GCM_SENDER_ID</key>
	<string>378388156694</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ledgerlivemobile</string>
	<key>PROJECT_ID</key>
	<string>remote-config-tests-a3fc4</string>
	<key>STORAGE_BUCKET</key>
	<string>remote-config-tests-a3fc4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:378388156694:ios:40703710d0ecc60fdd8037</string>
</dict>
</plist>