<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>212042068804-n7rglq1e800k8fo9urt70etkbh2tia8l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.212042068804-n7rglq1e800k8fo9urt70etkbh2tia8l</string>
	<key>API_KEY</key>
	<string>AIzaSyDBE3vnLXy4ZFArrIvwGth7ezo55dvCO6Q</string>
	<key>GCM_SENDER_ID</key>
	<string>212042068804</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ledgerlivemobile</string>
	<key>PROJECT_ID</key>
	<string>ledger-live-production</string>
	<key>STORAGE_BUCKET</key>
	<string>ledger-live-production.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:212042068804:ios:3f1c7047887efdc2b51d11</string>
</dict>
</plist>