<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>148270189806-eeecurvvue99to9j53hhi24mh27cdhva.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.148270189806-eeecurvvue99to9j53hhi24mh27cdhva</string>
	<key>API_KEY</key>
	<string>AIzaSyAE8-ng2QQJzVY-TgyJNYDKP3GPbU-dTm8</string>
	<key>GCM_SENDER_ID</key>
	<string>148270189806</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ledgerlivemobile</string>
	<key>PROJECT_ID</key>
	<string>ledger-live-12a1c</string>
	<key>STORAGE_BUCKET</key>
	<string>ledger-live-12a1c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:148270189806:ios:5a0db3a149d0da9a9677ff</string>
</dict>
</plist>