.App {
  text-align: center;
  color: white;
  background-color: #282c34;
  min-height: 100vh;
}

.App-logo {
  height: 10vmin;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(5px + 2vmin);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#image-container {
  position: relative;
}

.dummy {
  position: absolute;
  bottom: -10px;
  right: -40px;
}

#param-container {
  margin-top: 20px;
}

#param-list {
  font-family: "Courier New", Courier, monospace;
  background-color: #b8b8b9;
  text-align: start;
}

pre {
  text-align: initial;
  max-width: 100%;
  overflow: auto;
}

.account-id-input,
.recipient-input,
.currency-ids-input,
.amount-input,
.data-input,
.message-input,
.deeplink-url-input {
  margin-bottom: 12px;
  width: 320px;
}
