# development seed only. generated with https://iancoleman.io/bip39
SEED=chronic find success crew board merit elder life achieve scout gravity soul brief pen job
GH_TOKEN=gh_token
API_PORT=4040
SPECULOS_IMAGE=speculos
