
body {
  margin: 0;
  height:100%;
  padding: 0;
  font-family: sans-serif;
  position: relative;
}

@media print {
  .printbreakinside {
    position: relative;
    page-break-inside: avoid;
  }
}

a,
a:visited,
a:hover {
  color: #3f51b5;
  opacity: 0.8;
  text-decoration: none;
}
a:hover {
  opacity: 1;
}
