<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBGG14MpGp09CeJW06tucoGPZMWPwcAIrw</string>
	<key>GCM_SENDER_ID</key>
	<string>491405541837</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ledger.clonetest</string>
	<key>PROJECT_ID</key>
	<string>ledger-wallet---prs</string>
	<key>STORAGE_BUCKET</key>
	<string>ledger-wallet---prs.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:491405541837:ios:fb608caf016f0da668c484</string>
</dict>
</plist>