name: "[CI] - Auto Author Assign - PR"

on:
  pull_request_target:
    types: [opened, reopened]

permissions:
  pull-requests: write

jobs:
  assign-author:
    runs-on: ubuntu-22.04
    steps:
      - uses: toshimaru/auto-author-assign@759f5c7fab82b38cce0e366dfb205997d5fd9aab # v1.4.0
