name: "[Coin] - Bitcoin on Staging - Scheduled"
on:
  workflow_dispatch:
  schedule:
    - cron: 0 8 * * 3

jobs:
  run-bot:
    uses: ./.github/workflows/bot-reusable.yml
    with:
      seed_index: "2"
      concurrency_group: bot-seed2
      bot_environment: staging
      slack_icon_emoji: ":bot-seed2:"
      slack_channel: explorer-bot-stg
      explorer: https://atlas-stg.ledger-test.com
      checkout_ref: main
      bot_filter_families: bitcoin
