name: "[Coin] - Evm on Staging - Scheduled"
on:
  workflow_dispatch:
  schedule:
    - cron: 0 8 * * 3

jobs:
  run-bot:
    uses: ./.github/workflows/bot-reusable.yml
    with:
      seed_index: "2"
      concurrency_group: bot-seed2
      bot_environment: staging
      slack_icon_emoji: ":bot-seed2:"
      slack_channel: explorer-bot-stg
      explorer: https://atlas-stg.ledger-test.com
      checkout_ref: main
      # These currencies are not yet handled by ATLAS, should be added back
      # to the list once they are.
      # avalanche_c_chain,bsc,polygon,ethereum_classic
      bot_filter_currencies: ethereum,ethereum_sepolia,ethereum_holesky
