name: "Bot Transfer"
run-name: Transfer from bot ${{inputs.origin}} to ${{inputs.recipient}} (${{inputs.currencies}} 100%/${{inputs.split}})
on:
  workflow_dispatch:
    inputs:
      origin:
        description: "index of the seed to send from (e.g. 1)"
        required: true
      recipient:
        description: "index of the seed to receive the funds (e.g. 4)"
        required: true
      split:
        description: "split the amount of the origin by this number. For instance 2 will send half of the amount, 3 will send 1/3rd of the amount, etc."
        required: false
      concurrency:
        description: "number of concurrent transfers to run"
        required: false
      currencies:
        description: "a comma separated list of currencies to transfer. If not specified, all currencies will be transferred."
        required: false

permissions:
  id-token: write
  contents: read

jobs:
  run-bot:
    runs-on: [ledger-live-medium-linux]
    steps:
      - name: generate token
        id: generate-token
        uses: tibdex/github-app-token@v1
        with:
          app_id: ${{ secrets.GH_BOT_APP_ID }}
          private_key: ${{ secrets.GH_BOT_PRIVATE_KEY }}
      - uses: actions/checkout@v4
      - name: Retrieving coin apps
        uses: actions/checkout@v4
        with:
          ref: generated/ledger-live-bot
          repository: LedgerHQ/coin-apps
          token: ${{ steps.generate-token.outputs.token }}
          path: coin-apps
      - name: Setup the toolchain
        uses: ./tools/actions/composites/setup-toolchain
        with:
          accountId: ${{ secrets.AWS_ACCOUNT_ID_PROD }}
          roleName: ${{ secrets.AWS_CACHE_ROLE_NAME }}
          region: ${{ secrets.AWS_CACHE_REGION }}
          turbo-server-token: ${{ secrets.TURBOREPO_SERVER_TOKEN }}
      - name: pull docker image
        run: docker pull ghcr.io/ledgerhq/speculos
      - name: install and build
        run: |
          pnpm i --filter="live-cli..." --filter="ledger-live"
          pnpm build:cli
          cd apps/cli
          npm link
      - name: bot transfer
        env:
          NODE_OPTIONS: "--max-old-space-size=7168"
          CONCURRENCY: ${{ github.event.inputs.concurrency }}
          ONLY_CURRENCIES: ${{ github.event.inputs.currencies }}
          SEED: ${{ secrets[format('SEED{0}', inputs.origin)] }}
          SEED_RECIPIENT: ${{ secrets[format('SEED{0}', inputs.recipient)] }}
          VERBOSE_FILE: bot-transfer.txt
          FUNDS_SPLIT: ${{ github.event.inputs.split }}
        run: COINAPPS=$PWD/coin-apps ledger-live botTransfer
        timeout-minutes: 200
      - name: upload logs
        if: failure() || success()
        uses: actions/upload-artifact@v3
        with:
          name: bot-transfer.txt
          path: bot-transfer.txt
