name: "[Coin] - Bitcoin on Staging - Scheduled"
on:
  workflow_dispatch:
  schedule:
    - cron: 0 8 * * 3
concurrency:
  group: bot-seed2
jobs:
  run-bot:
    runs-on: [ledger-live-medium]
    steps:
      - name: generate token
        id: generate-token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # 2.2.1
        with:
          app-id: ${{ secrets.GH_BOT_APP_ID }}
          private-key: ${{ secrets.GH_BOT_PRIVATE_KEY }}
          repositories: |
            coin-apps
            ledger-live
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: main
      - name: Retrieving coin apps
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: generated/ledger-live-bot
          repository: LedgerHQ/coin-apps
          token: ${{ steps.generate-token.outputs.token }}
          path: coin-apps
      - uses: LedgerHQ/ledger-live/tools/actions/composites/bot@develop
        id: bot
        timeout-minutes: 120
        with:
          EXPLORER: https://atlas-stg.ledger-test.com
          SHOW_LEGACY_NEW_ACCOUNT: "1"
          SEED: ${{ secrets.SEED2 }}
          SLACK_API_TOKEN: ${{secrets.SLACK_API_TOKEN}}
          SLACK_ICON_EMOJI: ":bot-seed2:"
          SLACK_CHANNEL: explorer-bot-stg
          BOT_FILTER_FAMILIES: bitcoin
          BOT_ENVIRONMENT: staging
