name: "[Bot] Bitcoin on Staging"
on:
  workflow_dispatch:
  schedule:
    - cron: 0 8 * * 3

concurrency:
  group: bot-seed2

jobs:
  run-bot:
    runs-on: [ledger-live-medium-linux]
    steps:
      - name: generate token
        id: generate-token
        uses: tibdex/github-app-token@v1
        with:
          app_id: ${{ secrets.GH_BOT_APP_ID }}
          private_key: ${{ secrets.GH_BOT_PRIVATE_KEY }}
      - uses: actions/checkout@v4
        with:
          ref: main
      - name: Retrieving coin apps
        uses: actions/checkout@v4
        with:
          ref: generated/ledger-live-bot
          repository: LedgerHQ/coin-apps
          token: ${{ steps.generate-token.outputs.token }}
          path: coin-apps
      - uses: ./tools/actions/composites/bot
        id: bot
        timeout-minutes: 120
        with:
          EXPLORER: https://atlas-stg.ledger-test.com
          SHOW_LEGACY_NEW_ACCOUNT: "1"
          SEED: ${{ secrets.SEED2 }}
          SLACK_API_TOKEN: ${{secrets.SLACK_API_TOKEN}}
          SLACK_ICON_EMOJI: ":bot-seed2:"
          SLACK_CHANNEL: explorer-bot-stg
          BOT_FILTER_FAMILIES: bitcoin
          BOT_ENVIRONMENT: staging
