name: "[Coin] - Daily non-reg with 'Nitrogen' - Scheduled"
on:
  schedule:
    - cron: "9 16 * * 1-5" # every working day at 4pm we will do a daily non reg on what was merged in

jobs:
  run-bot:
    uses: ./.github/workflows/bot-reusable.yml
    with:
      seed_index: "7"
      concurrency_group: bot-seed7
      bot_environment: production
      slack_icon_emoji: ":bot-seed7:"
      # We don't run these currencies daily because fees are expensive
      bot_disabled_currencies: bitcoin,ethereum,qtum,decred,cardano,axelar,cosmos,secret_network,avalanche_c_chain,bsc,filecoin,tron,cronos,fantom,boba,desmos,sei_network,xion,velas_evm,umee,stargaze,klaytn,etherlink,telos_evm,polygon_zk_evm,polkadot,polygon_zk_evm_testnet,aptos_testnet,arbitrum_sepolia,base_sepolia,blast_sepolia,scroll_sepolia,zksync_sepolia,ethereum_sepolia,optimism_sepolia,linea_sepolia,near
      bot_filter_features: send
