name: "[Coin] - Monitoring - Manual"
run-name: Monitor coins by @${{ github.actor }} ${{ inputs.currencies && format('currencies={0}',inputs.currencies) || '' }}
permissions:
  contents: read
on:
  workflow_dispatch:
    inputs:
      account_types:
        description: Account types to monitor, separated with commas (,), or "pristine,average,big" (default)
        required: false
        default: "pristine,average,big"
      currencies:
        description: Currencies to monitor, separated with commas (,), or "all" (default)
        required: false
        default: "all"
      isolated:
        description: Run each currency/account combination in isolated processes, true or false (default)
        required: false
        default: false

jobs:
  run-monitoring:
    runs-on: [ledger-live-4xlarge]
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Setup the toolchain
        uses: LedgerHQ/ledger-live/tools/actions/composites/setup-caches@develop
        with:
          install-proto: true
      - uses: LedgerHQ/ledger-live/tools/actions/composites/monitor@develop
        id: monitoring
        timeout-minutes: 120
        with:
          MONITOR_FILTER_CURRENCIES: ${{ inputs.currencies }}
          MONITOR_FILTER_ACCOUNT_TYPES: ${{ inputs.account_types }}
          MONITOR_FILTER_ISOLATED: ${{ inputs.isolated }}
