name: Desktop App - Generate Screenshots

on:
  workflow_dispatch:
    inputs:
      ref:
        description: The branch to generate screenshots for.
        required: false
      number:
        description: The pull request number.
        required: false
      login:
        description: The GitHub username that triggered the workflow
        required: true

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  is-org-member:
    name: "Check Org Member"
    uses: ledgerhq/ledger-live/.github/workflows/is-org-member.yml@develop
    with:
      username: ${{ github.event.inputs.login }}
      organisation: ledgerhq
    secrets:
      token: ${{ secrets.COMMON_READ_ORG }}

  generate-screenshots:
    needs: [is-org-member]
    if: ${{ fromJSON(needs.is-org-member.outputs.is-org-member) }}
    env:
      NODE_OPTIONS: "--max-old-space-size=7168"
      FORCE_COLOR: 3
      PLAYWRIGHT_SKIP_BROWSER_DOWNLOAD: 1
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          # - macos-latest
          - windows-latest
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
        if: ${{ github.event.inputs.ref != null }}
        with:
          fetch-depth: 0
      - uses: actions/checkout@v3
        if: ${{ !github.event.inputs.ref }}
        with:
          fetch-depth: 0
      - uses: ./tools/actions/composites/setup-test-desktop
        id: setup-test-desktop
      - name: Checkout PR
        if: ${{ github.event.inputs.number != null && github.event.inputs.ref == null }}
        run: gh pr checkout ${{ github.event.inputs.number }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Set git user
        run: |
          git config user.email "team-live@ledger.fr"
          git config user.name "Team Live"
      - name: TurboRepo local server
        uses: felixmosh/turborepo-gh-artifacts@v1
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          server-token: "yolo"
      - uses: ./tools/actions/composites/update-snapshots-desktop
        id: update-snapshots
        with:
          os: ${{ matrix.os }}

  generate-screenshots-mac-internal:
    needs: [is-org-member]
    if: ${{ fromJSON(needs.is-org-member.outputs.is-org-member) }}
    env:
      NODE_OPTIONS: "--max-old-space-size=7168"
      FORCE_COLOR: 3
      PLAYWRIGHT_SKIP_BROWSER_DOWNLOAD: 1
    runs-on: [ledger-live, macos]
    steps:
      - uses: actions/checkout@v3
        if: ${{ github.event.inputs.ref != null }}
        with:
          fetch-depth: 0
      - uses: actions/checkout@v3
        if: ${{ !github.event.inputs.ref }}
        with:
          fetch-depth: 0
      - uses: ./tools/actions/composites/setup-test-desktop
        id: setup-test-desktop
        with:
          skip_python: true
          skip_ruby: true
      - name: Checkout PR
        if: ${{ github.event.inputs.number != null && github.event.inputs.ref == null }}
        run: gh pr checkout ${{ github.event.inputs.number }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Set git user
        run: |
          git config user.email "team-live@ledger.fr"
          git config user.name "Team Live"
      - name: TurboRepo local server
        uses: felixmosh/turborepo-gh-artifacts@v1
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          server-token: "yolo"
      - uses: ./tools/actions/composites/update-snapshots-desktop
        id: update-snapshots
        with:
          os: "macos-latest"
