name: Prerelease
on:
  push:
    branches:
      - "release"
      - "releases/**"
      - "hotfix"
  workflow_dispatch:
    inputs:
      ref:
        description: the branch to prerelease from
        required: true
jobs:
  prerelease:
    name: Prerelease
    runs-on: ubuntu-latest
    env:
      NODE_OPTIONS: "--max-old-space-size=7168"
    steps:
      - uses: actions/checkout@v3
        if: ${{ github.event_name == 'push' }}
        with:
          token: ${{ secrets.GH_PAT }}
      - uses: actions/checkout@v3
        if: ${{ github.event_name == 'workflow_dispatch'|| github.event_name == 'workflow_run' }}
        with:
          ref: ${{ github.event.inputs.ref || 'release' }}
          token: ${{ secrets.GH_PAT }}
      - name: set ref
        id: ref
        if: ${{ github.event_name == 'workflow_dispatch' || github.event_name == 'workflow_run' }}
        run: |
          echo "::set-output name=ref::${{ github.event.inputs.ref || 'release' }}"

      - name: set git user
        run: |
          git config user.email "team-live@ledger.fr"
          git config user.name "Team Live"
      - uses: pnpm/action-setup@v2.1.0
        with:
          version: latest
      - uses: actions/setup-node@v3
        with:
          node-version: 14.x
          cache: pnpm
          cache-dependency-path: "**/pnpm-lock.yaml"
          registry-url: "https://registry.npmjs.org"
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.7 # Not needed with a .ruby-version file
          bundler-cache: true # runs 'bundle install' and caches installed gems automatically
      - uses: ledgerhq/ledger-live/tools/actions/get-package-infos@develop
        id: desktop-version
        with:
          path: ${{ github.workspace }}/apps/ledger-live-desktop
      - name: install dependencies
        run: pnpm i -F "ledger-live" -F "{libs/**}..." --frozen-lockfile
      - name: build libs
        run: pnpm run build:libs
      - name: versioning
        run: pnpm changeset version

      - name: commit (from release branch)
        if: ${{ startsWith(github.ref_name, 'release') || startsWith(steps.ref.outputs.ref, 'release') }}
        run: |
          git add . &&
          git commit -m ":rocket: release prerelease" ||
          echo ""
      - name: commit (from hotfix branch)
        if: ${{ startsWith(steps.ref.outputs.ref, 'hotfix') }}
        run: |
          git add . &&
          git commit -m ":fire: hotfix prerelease" ||
          echo ""
      - name: commit (from ${{ steps.ref.outputs.ref }} branch) workflow dispatch
        if: ${{ !startsWith(github.ref_name, 'release') || !startsWith(github.ref_name, 'hotfix') }}
        run: |
          git add .
          git commit -m ":rocket: ${{ steps.ref.outputs.ref }} prerelease" ||
          echo ""

      - name: publish prerelease
        run: pnpm changeset publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: push changes (push event)
        if: ${{ github.event_name == 'push' }}
        run: |
          git push origin ${{ github.ref_name }} --follow-tags
      - name: push changes (other events)
        if: ${{ github.event_name == 'workflow_dispatch'|| github.event_name == 'workflow_run' }}
        run: |
          git push origin ${{ steps.ref.outputs.ref }} --follow-tags

      - uses: ledgerhq/ledger-live/tools/actions/get-package-infos@develop
        id: post-desktop-version
        with:
          path: ${{ github.workspace }}/apps/ledger-live-desktop
      - uses: actions/github-script@v6
        name: trigger prerelease build for desktop
        if: ${{ steps.desktop-version.outputs.version != steps.post-desktop-version.outputs.version }}
        with:
          github-token: ${{ secrets.GH_PAT }}
          script: |
            github.rest.actions.createWorkflowDispatch({
              owner: "ledgerhq",
              repo: "ledger-live-build",
              ref: "main",
              workflow_id: "pre-desktop-mono.yml",
              inputs: {
                ref: "${{ github.event.push != '' && github.ref_name || steps.ref.outputs.ref }}"
              }
            });
