name: "[Release] Create Branch"
on:
  workflow_dispatch:

jobs:
  create-release:
    name: Create Release
    runs-on: ubuntu-latest
    env:
      NODE_OPTIONS: "--max-old-space-size=7168"
    steps:
      - name: generate token
        id: generate-token
        uses: tibdex/github-app-token@v1
        with:
          app_id: ${{ secrets.GH_BOT_APP_ID }}
          private_key: ${{ secrets.GH_BOT_PRIVATE_KEY }}
      - uses: actions/checkout@v3
        with:
          ref: develop
          token: ${{ steps.generate-token.outputs.token }}
      - name: set git user
        run: |
          git config user.email "105061298+live-github-bot[bot]@users.noreply.github.com"
          git config user.name "live-github-bot[bot]"
      - name: create release branch
        run: |
          git checkout -b release
      - uses: pnpm/action-setup@v2
        with:
          version: 7.30.0
      - uses: actions/setup-node@v3
        with:
          node-version: 18.15.0
          cache: pnpm
          cache-dependency-path: "**/pnpm-lock.yaml"
      - name: install dependencies
        run: pnpm i -F "ledger-live"
      - name: enter prerelease mode
        run: pnpm changeset pre enter next
      - name: commit
        run: |
          git add .
          git commit -m ":rocket: entering prerelease mode"
      - name: Get date
        id: date
        run: |
          echo "date=$(date +%F)" >> $GITHUB_OUTPUT
      - name: push
        run: |
          git push origin release
          gh pr create --title ":rocket: Release ${{ steps.date.outputs.date }}" -F .github/templates/release.md --base main --head release
        env:
          GITHUB_TOKEN: ${{ steps.generate-token.outputs.token }}
