name: "[Release](Hotfix) Create Branch"
on:
  workflow_dispatch:
    inputs:
      app:
        description: "App to release"
        required: true
        type: choice
        options:
          - LLD
          - LLM

jobs:
  create-hotfix:
    name: Create Hotfix
    runs-on: ubuntu-latest
    env:
      NODE_OPTIONS: "--max-old-space-size=7168"
    steps:
      - uses: actions/checkout@v3
        with:
          ref: main
          token: ${{ secrets.GH_PAT }}
      - name: set git user
        run: |
          git config user.email "team-live@ledger.fr"
          git config user.name "Team Live"
      - name: create hotfix branch
        run: |
          git checkout -b hotfix
      - uses: pnpm/action-setup@v2
        with:
          version: latest
      - uses: actions/setup-node@v3
        with:
          node-version: 16.x
          cache: pnpm
          cache-dependency-path: "**/pnpm-lock.yaml"
      - name: install dependencies
        run: pnpm i -F "ledger-live"
      - name: Update changeset config
        uses: jossef/action-set-json-field@v2
        with:
          file: .changeset/config.json
          field: ignore
          value: ${{ inputs.app == 'LLD' && '["live-mobile"]' || '["ledger-live-desktop"]' }}
          parse_json: true
      - name: enter prerelease mode
        run: pnpm changeset pre enter hotfix
      - name: commit
        run: |
          git add .
          git commit -m ":rocket: entering ${{ inputs.app }} hotfix mode"
      - name: Get date
        id: date
        run: |
          echo "::set-output name=date::$(date +%F)"
      - name: push
        run: |
          git push origin hotfix
          gh pr create --title ":fire: Hotfix ${{ inputs.app }} ${{ steps.date.outputs.date }}" -F ./.github/templates/hotfix.md --base main --head hotfix
        env:
          GITHUB_TOKEN: ${{ github.token }}
