name: "[Release](Hotfix) Prepare for releasing"

on:
  workflow_dispatch:
    inputs:
      ref:
        description: the branch to release from
        default: hotfix
        required: true

jobs:
  prepare-release:
    name: Prepare Hotfix
    runs-on: ubuntu-latest
    env:
      NODE_OPTIONS: "--max-old-space-size=7168"
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.inputs.ref }}
          fetch-depth: 0
          token: ${{ secrets.GH_PAT }}

      - name: set git user
        run: |
          git config user.email "team-live@ledger.fr"
          git config user.name "Team Live"

      - uses: pnpm/action-setup@v2.1.0
        with:
          version: latest

      - uses: actions/setup-node@v3
        with:
          node-version: 14.x
          cache: pnpm
          cache-dependency-path: "**/pnpm-lock.yaml"

      - name: install dependencies
        run: pnpm i -F "ledger-live"

      - name: exit prerelease mode
        run: pnpm changeset pre exit

      - name: versioning
        run: pnpm changeset version

      - name: commit
        run: |
          git add .
          git commit -m ":fire: hotfix release"

      - name: push changes
        run: |
          git push origin ${{ github.event.inputs.ref }}
          git fetch origin

      - name: merge into main
        run: |
          git checkout main
          git merge ${{ github.event.inputs.ref }}
          git push origin main

      - name: merge into develop
        run: |
          git checkout develop
          git merge ${{ github.event.inputs.ref }}
          git push origin develop
