name: "[Nightly] - Build & Publish - Scheduled"

on:
  schedule:
    - cron: "0 2 * * TUE-SAT"  # At 02:00 on Tuesday, Wednesday, Thursday, Friday and Saturday (UTC)
  workflow_dispatch:

jobs:

  nightly-release:
    name: Nightly Release
    runs-on: ubuntu-24.04
    env:
      NODE_OPTIONS: "--max-old-space-size=7168"
    steps:
      - name: generate token
        id: generate-token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # 2.2.1
        with:
          app-id: ${{ secrets.GH_BOT_APP_ID }}
          private-key: ${{ secrets.GH_BOT_PRIVATE_KEY }}
          repositories: |
            ledger-live
            ledger-live-build

      - name: Checkout Repo
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: develop
          fetch-depth: 1
          token: ${{ steps.generate-token.outputs.token }}

      - name: Get checked out commit SHA
        id: get-sha
        run: echo "sha=$(git rev-parse HEAD)" >> $GITHUB_OUTPUT
        shell: bash

      - name: Setup git user
        uses: LedgerHQ/ledger-live/tools/actions/composites/setup-git-user@develop

      - name: Setup the caches
        uses: LedgerHQ/ledger-live/tools/actions/composites/setup-caches@develop
        id: setup-caches
        with:
          install-proto: true
          skip-turbo-cache: "false"

      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.3.0

      - name: install dependencies
        run: pnpm i -F "ledger-live" -F "{libs/**}..." -F "@ledgerhq/live-cli"

      - name: build libs
        run: pnpm run build:libs

      - name: snapshot versioning
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: pnpm changeset version --snapshot nightly

      - name: authenticate with npm
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4
        with:
          registry-url: "https://registry.npmjs.org"

      - name: publish nightly
        run: pnpm changeset publish --tag nightly --no-git-tag
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPMJS_TOKEN }}

      - uses: LedgerHQ/ledger-live/tools/actions/get-package-infos@develop
        id: post-desktop-version
        with:
          path: ${{ github.workspace }}/apps/ledger-live-desktop

      - uses: LedgerHQ/ledger-live/tools/actions/get-package-infos@develop
        id: post-mobile-version
        with:
          path: ${{ github.workspace }}/apps/ledger-live-mobile

      - name: tag nightly ref
        uses: LedgerHQ/ledger-live/tools/actions/composites/create-or-update-tag@develop
        with:
          ref: ${{ steps.get-sha.outputs.sha }}
          tagName: nightly
          token: ${{ steps.generate-token.outputs.token }}
          overwrite: true

      - uses: actions/github-script@f28e40c7f34bde8b3046d885e986cb6290c5673b # v7
        name: trigger nightly build of desktop
        with:
          github-token: ${{ steps.generate-token.outputs.token }}
          script: |
            github.rest.actions.createWorkflowDispatch({
              owner: "ledgerhq",
              repo: "ledger-live-build",
              ref: "main",
              workflow_id: "nightly-desktop.yml",
              inputs: {
                  version_override: "${{ steps.post-desktop-version.outputs.version }}"
              }
            });

      - uses: actions/github-script@f28e40c7f34bde8b3046d885e986cb6290c5673b # v7
        name: trigger nightly build of mobile
        with:
          github-token: ${{ steps.generate-token.outputs.token }}
          script: |
            github.rest.actions.createWorkflowDispatch({
              owner: "ledgerhq",
              repo: "ledger-live-build",
              ref: "main",
              workflow_id: "nightly-mobile.yml",
              inputs: {
                  version_override: "${{ steps.post-mobile-version.outputs.version }}"
              }
            });

  nightly-fail:
    name: Nightly Release > Failure Reporting
    needs: nightly-release
    if: failure()
    runs-on: ubuntu-latest
    steps:
      - name: post to a Slack channel
        id: slack
        uses: slackapi/slack-github-action@485a9d42d3a73031f12ec201c457e2162c45d02d # v2.0.0
        with:
          token: ${{ secrets.SLACK_BOT_USER_OAUTH_ACCESS_TOKEN }}
          method: chat.postMessage
          payload: |
            channel: "C08JQKWS9KK"
            text: "[Alert] Nightly Release failed"
            blocks: 
              - type: "section"
                text:
                  type: "mrkdwn"
                  text: "*Nightly Release failed*"
              - type: "section"
                text:
                  type: "mrkdwn"
                  text: "<${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}|Workflow run>"