name: "[Release] - Publish Release - Manual"
on:
  workflow_call:
    inputs:
      ref:
        type: string
        description: "the ref (branch) to release from"
        required: false
        default: main
      caller:
        type: string
        description: "the workflow that called this one"
        required: true
  workflow_dispatch:
    inputs:
      app:
        description: "which app to release (libraries are always published, chose NONE to release libs only)"
        required: true
        type: choice
        default: NONE
        options:
          - NONE
          - LLD
          - LLM
          - ALL
      ref:
        description: "the ref (branch) to release from"
        required: false
        default: main

permissions:
  id-token: write

jobs:
  release:
    name: Release
    runs-on: ledger-live-4xlarge-ha
    env:
      NODE_OPTIONS: "--max-old-space-size=7168"
    steps:
      - name: generate token
        id: generate-token
        uses: tibdex/github-app-token@v1
        with:
          app_id: ${{ secrets.GH_BOT_APP_ID }}
          private_key: ${{ secrets.GH_BOT_PRIVATE_KEY }}
      - uses: actions/checkout@v4
        with:
          ref: ${{ inputs.ref }}
          fetch-depth: 2
          token: ${{ steps.generate-token.outputs.token }}

      - name: Login to JFrog Ledger
        id: jfrog-login
        uses: LedgerHQ/actions-security/actions/jfrog-login@actions/jfrog-login-1

      - name: Configure npmrc
        id: jfrog-npm
        if: ${{ vars.ARTIFACTORY_URL != '' }}
        uses: LedgerHQ/actions-security/actions/jfrog-npm@actions/jfrog-npm-0.3.0
        with:
          token: ${{ steps.jfrog-login.outputs.oidc-token }}
          registry: ${{ vars.ARTIFACTORY_URL }}
          npmrc-location: "~/.npmrc"

      - name: Setup git user
        uses: LedgerHQ/ledger-live/tools/actions/composites/setup-git-user@develop
      - name: Setup the caches
        uses: LedgerHQ/ledger-live/tools/actions/composites/setup-caches@develop
        id: setup-caches
        with:
          install-proto: true
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.3.0
      - name: Cache LLM pods
        uses: actions/cache@v3
        with:
          path: |
            apps/ledger-live-mobile/ios/Pods
            ~/Library/Caches/CocoaPods
            ~/.cocoapods
          key: ${{ runner.os }}-pods-${{ hashFiles('apps/ledger-live-mobile/ios/Podfile.lock') }}
      - name: install dependencies
        run: pnpm i -F "ledger-live" -F "{libs/**}..." -F "@ledgerhq/live-cli"
      - name: build libs
        run: pnpm run build:libs
      - name: authenticate with npm
        uses: actions/setup-node@v4
        with:
          registry-url: "https://registry.npmjs.org"

      #Jfrog publishing - if statements to be removed when all is migrated

      - name: Configure npmrc
        if: ${{ vars.ARTIFACTORY_PUBLISH_URL != '' }}
        uses: LedgerHQ/actions-security/actions/jfrog-npm@actions/jfrog-npm-0.3.0
        with:
          token: ${{ steps.jfrog-login.outputs.oidc-token }}
          registry: ${{ vars.ARTIFACTORY_PUBLISH_URL }}
          npmrc-location: "~/.npmrc"

      - name: publish nightly
        if: ${{ vars.ARTIFACTORY_PUBLISH_URL != '' }}
        run: npm_config_registry="https://${{ vars.ARTIFACTORY_PUBLISH_URL }}/" pnpm changeset publish

      #NPM publishing - to be removed when all is migrated

      - name: authenticate with npm
        if: ${{ vars.ARTIFACTORY_PUBLISH_URL == '' }}
        uses: actions/setup-node@v4
        with:
          registry-url: "https://registry.npmjs.org"

      - name: publish release
        if: ${{ vars.ARTIFACTORY_PUBLISH_URL == '' }}
        run: pnpm changeset publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPMJS_TOKEN }}

      #End NPM publishing

      - name: check if desktop versions are different
        if: ${{ inputs.caller == 'release-prepare' || inputs.caller == 'release-prepare-hotfix' }}
        id: desktop-changed
        run: |
          echo "status=$(git diff HEAD HEAD~1 ./apps/ledger-live-desktop/package.json | grep '"version": "' | wc -l)" >> $GITHUB_OUTPUT
      - name: check if mobile versions are different
        if: ${{ inputs.caller == 'release-prepare' || inputs.caller == 'release-prepare-hotfix' }}
        id: mobile-changed
        run: |
          echo "status=$(git diff HEAD HEAD~1 ./apps/ledger-live-mobile/package.json | grep '"version": "' | wc -l)" >> $GITHUB_OUTPUT
      - uses: LedgerHQ/ledger-live/tools/actions/get-package-infos@develop
        id: desktop-version
        with:
          path: ${{ github.workspace }}/apps/ledger-live-desktop
      - uses: LedgerHQ/ledger-live/tools/actions/get-package-infos@develop
        id: mobile-version
        with:
          path: ${{ github.workspace }}/apps/ledger-live-mobile
      - name: generate desktop changelog
        if: ${{ steps.desktop-changed.outputs.status != 0 || github.event_name == 'workflow_dispatch' && contains(fromJson('["LLD", "ALL"]'), inputs.app) }}
        uses: LedgerHQ/ledger-live/tools/actions/generate-release-message@develop
        id: desktop-changelog
        with:
          package-path: ${{ github.workspace }}/apps/ledger-live-desktop/package.json
          changelog-path: ${{ github.workspace }}/apps/ledger-live-desktop/CHANGELOG.md
          output-path: ${{ github.workspace }}
          name: desktop-changelog
      - name: tag desktop
        if: ${{ steps.desktop-changed.outputs.status != 0 || github.event_name == 'workflow_dispatch' && contains(fromJson('["LLD", "ALL"]'), inputs.app) }}
        run: |
          git tag @ledgerhq/live-desktop@${{ steps.desktop-version.outputs.version }}
      - name: generate mobile changelog
        if: ${{ steps.mobile-changed.outputs.status != 0 || github.event_name == 'workflow_dispatch' && contains(fromJson('["LLM", "ALL"]'), inputs.app) }}
        uses: LedgerHQ/ledger-live/tools/actions/generate-release-message@develop
        id: mobile-changelog
        with:
          package-path: ${{ github.workspace }}/apps/ledger-live-mobile/package.json
          changelog-path: ${{ github.workspace }}/apps/ledger-live-mobile/CHANGELOG.md
          output-path: ${{ github.workspace }}
          name: mobile-changelog
      - name: tag mobile
        if: ${{ steps.mobile-changed.outputs.status != 0 || github.event_name == 'workflow_dispatch' && contains(fromJson('["LLM", "ALL"]'), inputs.app) }}
        run: |
          git tag live-mobile@${{ steps.mobile-version.outputs.version }}
      - name: push changes
        run: |
          git push origin ${{ inputs.ref }} --tags
      - name: create desktop github release
        if: ${{ steps.desktop-changed.outputs.status != 0 || github.event_name == 'workflow_dispatch' && contains(fromJson('["LLD", "ALL"]'), inputs.app) }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh release create @ledgerhq/live-desktop@${{ steps.desktop-version.outputs.version }} -F ${{ steps.desktop-changelog.outputs.path }}
      - name: create mobile github release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        if: ${{ steps.mobile-changed.outputs.status != 0 || github.event_name == 'workflow_dispatch' && contains(fromJson('["LLM", "ALL"]'), inputs.app) }}
        run: |
          gh release create live-mobile@${{ steps.mobile-version.outputs.version }} -F ${{ steps.mobile-changelog.outputs.path }}
      - uses: actions/github-script@v7
        name: trigger release build for desktop
        if: ${{ steps.desktop-changed.outputs.status != 0 || github.event_name == 'workflow_dispatch' && contains(fromJson('["LLD", "ALL"]'), inputs.app) }}
        with:
          github-token: ${{ steps.generate-token.outputs.token }}
          script: |
            github.rest.actions.createWorkflowDispatch({
              owner: "ledgerhq",
              repo: "ledger-live-build",
              ref: "main",
              workflow_id: "release-desktop.yml",
              inputs: {
                branch: "${{ inputs.ref }}"
              }
            });
      - uses: actions/github-script@v7
        name: trigger release build for mobile
        if: ${{ steps.mobile-changed.outputs.status != 0 || github.event_name == 'workflow_dispatch' && contains(fromJson('["LLM", "ALL"]'), inputs.app) }}
        with:
          github-token: ${{ steps.generate-token.outputs.token }}
          script: |
            github.rest.actions.createWorkflowDispatch({
              owner: "ledgerhq",
              repo: "ledger-live-build",
              ref: "main",
              workflow_id: "release-mobile.yml",
              inputs: {
                ref: "${{ inputs.ref }}"
              }
            });

  release-fail:
    name: Release Final > Failure Reporting
    needs: release
    if: failure()
    runs-on: ubuntu-latest
    steps:
      - name: post to a Slack channel
        id: slack
        uses: slackapi/slack-github-action@v2.0.0
        with:
          token: ${{ secrets.SLACK_BOT_USER_OAUTH_ACCESS_TOKEN }}
          method: chat.postMessage
          payload: |
            channel: "C08JQKWS9KK"
            text: "[Alert] Release failed"
            blocks:
              - type: "section"
                text:
                  type: "mrkdwn"
                  text: "*Release (final) failed*"
              - type: "section"
                text:
                  type: "mrkdwn"
                  text: "<${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}|Workflow run>"

