name: "[Release](Prerelease) Publish packages and apps"
on:
  push:
    branches:
      - release
      - hotfix
  workflow_dispatch:
    inputs:
      ref:
        description: the branch to prerelease from
        required: true

jobs:
  prerelease:
    name: Prerelease
    runs-on: ubuntu-24.04
    env:
      NODE_OPTIONS: "--max-old-space-size=7168"
    steps:
      - name: generate token
        id: generate-token
        uses: tibdex/github-app-token@v1
        with:
          app_id: ${{ secrets.GH_BOT_APP_ID }}
          private_key: ${{ secrets.GH_BOT_PRIVATE_KEY }}
      - uses: actions/checkout@v4
        if: ${{ github.event_name == 'push' }}
        with:
          token: ${{ steps.generate-token.outputs.token }}
      - uses: actions/checkout@v4
        if: ${{ github.event_name == 'workflow_dispatch' }}
        with:
          ref: ${{ inputs.ref }}
          token: ${{ steps.generate-token.outputs.token }}
      - name: Setup git user
        uses: LedgerHQ/ledger-live/tools/actions/composites/setup-git-user@develop
      - name: Setup the caches
        uses: LedgerHQ/ledger-live/tools/actions/composites/setup-caches@develop
        id: setup-caches
        with:
          install-proto: true
      - uses: LedgerHQ/ledger-live/tools/actions/get-package-infos@develop
        id: desktop-version
        with:
          path: ${{ github.workspace }}/apps/ledger-live-desktop
      - uses: LedgerHQ/ledger-live/tools/actions/get-package-infos@develop
        id: mobile-version
        with:
          path: ${{ github.workspace }}/apps/ledger-live-mobile
      - name: install dependencies
        run: pnpm i -F "ledger-live" -F "{libs/**}..." -F "@ledgerhq/live-cli"
      - name: build libs
        run: pnpm run build:libs
      - name: versioning
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: pnpm changeset version
      - uses: LedgerHQ/ledger-live/tools/actions/get-package-infos@develop
        id: post-desktop-version
        with:
          path: ${{ github.workspace }}/apps/ledger-live-desktop
      - uses: LedgerHQ/ledger-live/tools/actions/get-package-infos@develop
        id: post-mobile-version
        with:
          path: ${{ github.workspace }}/apps/ledger-live-mobile
      - name: Move patch updates to minor for release branch
        # For more info about why we do this, see this doc:
        # https://ledgerhq.atlassian.net/wiki/spaces/WALLETCO/pages/4710989838/LL+Incident+Recovery+-+Hotfix+in+all+cases
        if: ${{ startsWith(github.ref_name, 'release') }}
        uses: LedgerHQ/ledger-live/tools/actions/composites/adjust-changeset-level@develop
        with:
          from_level: patch
          to_level: minor
      - name: Move minor updates to patch for hotfix branch
        # For more info about why we do this, see this doc:
        # https://ledgerhq.atlassian.net/wiki/spaces/WALLETCO/pages/4710989838/LL+Incident+Recovery+-+Hotfix+in+all+cases
        if: ${{ startsWith(github.ref_name, 'hotfix') }}
        uses: LedgerHQ/ledger-live/tools/actions/composites/adjust-changeset-level@develop
        with:
          from_level: minor
          to_level: patch
      - name: Move major updates to patch for hotfix branch
        # For more info about why we do this, see this doc:
        # https://ledgerhq.atlassian.net/wiki/spaces/WALLETCO/pages/4710989838/LL+Incident+Recovery+-+Hotfix+in+all+cases
        if: ${{ startsWith(github.ref_name, 'hotfix') }}
        uses: LedgerHQ/ledger-live/tools/actions/composites/adjust-changeset-level@develop
        with:
          from_level: major
          to_level: patch
      - name: commit (from release branch)
        if: ${{ startsWith(github.ref_name, 'release') }}
        env:
          LLD: LLD(${{ steps.post-desktop-version.outputs.version }})
          LLM: LLM(${{ steps.post-mobile-version.outputs.version }})
        run: |
          git add . &&
          git commit -m "chore(prerelease): :rocket: release prerelease [${{ env.LLD }}, ${{ env.LLM }}]" ||
          echo ""
      - name: commit (from hotfix branch)
        if: ${{ startsWith(github.ref_name, 'hotfix') }}
        env:
          LLD: LLD(${{ steps.post-desktop-version.outputs.version }})
          LLM: LLM(${{ steps.post-mobile-version.outputs.version }})
        run: |
          git add . &&
          git commit -m "chore(hotfix): :fire: hotfix prerelease [${{ env.LLD }}, ${{ env.LLM }}]" ||
          echo ""
      - name: commit (from ${{ inputs.ref }} branch) workflow dispatch
        if: ${{ github.event_name == 'workflow_dispatch' }}
        run: |
          git add .
          git commit -m "chore(prerelease): :rocket: ${{ inputs.ref }} prerelease [LLD(${{ steps.post-desktop-version.outputs.version }}), LLM(${{ steps.post-mobile-version.outputs.version }})]" ||
          echo ""
      - name: publish prerelease
        run: pnpm changeset publish --no-git-tag
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPMJS_TOKEN }}
      - name: push changes (push event)
        if: ${{ github.event_name == 'push' }}
        run: |
          git pull --rebase
          git push origin ${{ github.ref_name }}
      - name: push changes (other events)
        if: ${{ github.event_name == 'workflow_dispatch' }}
        run: |
          git pull --rebase
          git push origin ${{ inputs.ref }}
      - uses: actions/github-script@v7
        name: trigger prerelease build for desktop
        if: ${{ steps.desktop-version.outputs.version != steps.post-desktop-version.outputs.version }}
        with:
          github-token: ${{ steps.generate-token.outputs.token }}
          script: |
            github.rest.actions.createWorkflowDispatch({
              owner: "ledgerhq",
              repo: "ledger-live-build",
              ref: "main",
              workflow_id: "pre-desktop.yml",
              inputs: {
                ref: "${{ github.event_name == 'workflow_dispatch' && inputs.ref || github.ref_name }}",
              }
            });
      - uses: actions/github-script@v7
        name: trigger prerelease build of mobile
        if: ${{ steps.mobile-version.outputs.version != steps.post-mobile-version.outputs.version }}
        with:
          github-token: ${{ steps.generate-token.outputs.token }}
          script: |
            github.rest.actions.createWorkflowDispatch({
              owner: "ledgerhq",
              repo: "ledger-live-build",
              ref: "main",
              workflow_id: "pre-mobile.yml",
              inputs: {
                ref: "${{ github.event_name == 'workflow_dispatch' && inputs.ref || github.ref_name }}",
              }
            });
