name: "[CI] - Renovate - Scheduled"

on:
  schedule:
    # The "*" (#42, asterisk) character has special semantics in YAML, so this
    # string has to be quoted.
    # Every weekday at 22:00 (UTC)
    - cron: "0 22 * * 1-5"
  workflow_dispatch:

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: false

jobs:
  renovate:
    name: "Run Renovate"
    runs-on: ubuntu-22.04
    env:
      LOG_LEVEL: debug
      npm_config_ignore_scripts: true
    steps:
      - name: Get token
        id: get_token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # 2.2.1
        with:
          app-id: ${{ secrets.PUBLIC_RENOVATE_APP_ID }}
          private-key: ${{ secrets.PUBLIC_RENOVATE_KEY }}

      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Self-hosted Renovate
        uses: renovatebot/github-action@f7fad228a053c69a98e24f8e4f6cf40db8f61e08 # v44.2.1
        with:
          configurationFile: renovate-config.js
          token: "${{ steps.get_token.outputs.token }}"
