name: "[CI] - Renovate - Scheduled"

on:
  schedule:
    # The "*" (#42, asterisk) character has special semantics in YAML, so this
    # string has to be quoted.
    # Every weekday at 22:00 (UTC)
    - cron: "0 22 * * 1-5"
  workflow_dispatch:

permissions:
  contents: write # Required for Renovate to create and update branches with dependency updates
  pull-requests: write # Required for Renovate to create and manage pull requests for dependency updates
  issues: write # Required for Renovate to create and manage issues (e.g., for dependency dashboard)

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: false

jobs:
  renovate:
    name: "Run Renovate"
    runs-on: ubuntu-22.04
    env:
      LOG_LEVEL: debug
      npm_config_ignore_scripts: true
    steps:
      - name: Get token
        id: get_token
        uses: tibdex/github-app-token@32691ba7c9e7063bd457bd8f2a5703138591fa58 # v1
        with:
          app_id: ${{ secrets.PUBLIC_RENOVATE_APP_ID }}
          private_key: ${{ secrets.PUBLIC_RENOVATE_KEY }}

      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
        with:
          persist-credentials: false

      - name: Self-hosted Renovate
        uses: renovatebot/github-action@f7fad228a053c69a98e24f8e4f6cf40db8f61e08 # v44.2.1
        with:
          configurationFile: renovate-config.js
          token: "${{ steps.get_token.outputs.token }}"
