name: "[Code Quality Check] Sonar Scan"

on:
  schedule:
    - cron: "0 2 * * 1-5" # every working day at 2am we will do a daily scan on develop

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}

permissions:
  id-token: write
  contents: read
  pull-requests: write

jobs:
  scan:
    name: Scan LLM && LLD
    runs-on: [ledger-live-4xlarge]
    steps:
      - uses: actions/checkout@v4
      - name: Setup git user
        uses: LedgerHQ/ledger-live/tools/actions/composites/setup-git-user@develop
      - name: Setup the caches
        uses: LedgerHQ/ledger-live/tools/actions/composites/setup-caches@develop
        id: caches
        with:
          skip-turbo-cache: "false"
          accountId: ${{ secrets.AWS_ACCOUNT_ID_PROD }}
          roleName: ${{ secrets.AWS_CACHE_ROLE_NAME }}
          region: ${{ secrets.AWS_CACHE_REGION }}
          turbo-server-token: ${{ secrets.TURBOREPO_SERVER_TOKEN }}
      - name: Install dependencies
        env:
          LANG: en_US.UTF-8
        run: |
          pnpm i --filter="ledger-live-desktop..." --filter="ledger-live" --filter="@ledgerhq/dummy-*-app..." --unsafe-perm
          pnpm i --filter="live-mobile..." --filter="ledger-live" --no-frozen-lockfile --unsafe-perm
          pnpm i --filter="ledger-live-desktop..." --filter="@ledgerhq/coin-*..." --filter="ledger-live" --no-frozen-lockfile --unsafe-perm
          pnpm i --filter="@ledgerhq/hw-app-*..." --no-frozen-lockfile --unsafe-perm

      - name: Build dependencies
        run: |
          pnpm build:lld:deps --api="http://127.0.0.1:${{ steps.caches.outputs.port }}" --token="${{ secrets.TURBOREPO_SERVER_TOKEN }}" --team="foo"
          pnpm build:llm:deps --api="http://127.0.0.1:${{ steps.caches.outputs.port }}" --token="${{ secrets.TURBOREPO_SERVER_TOKEN }}" --team="foo"
          pnpm build:coin:deps
          pnpm build:hw-app

      - name: Generate Unit test coverage for LLD & LLM & Coin modules
        run: |
          pnpm desktop test:jest:coverage
          pnpm mobile test:jest:coverage
          pnpm coin:coverage
          pnpm ljs:hw-app:coverage

      - name: Merge lcov files
        run: |
          cat apps/ledger-live-desktop/coverage/lcov.info apps/ledger-live-mobile/coverage/lcov.info coverage/coin-lcov.info coverage/hw-app-lcov.info > ./lcov.info
      - name: Copy test execution files
        run: |
          cat apps/ledger-live-desktop/coverage/lld-sonar-executionTests-report.xml > ./lld-sonar-executionTests-report.xml
          cat apps/ledger-live-mobile/coverage/llm-sonar-executionTests-report.xml > ./llm-sonar-executionTests-report.xml
          cat coverage/coin-sonar-executionTests-report.xml > ./coin-sonar-executionTests-report.xml
          cat coverage/hw-app-sonar-executionTests-report.xml > ./hw-app-sonar-executionTests-report.xml

      - name: SonarQube Scan
        uses: sonarsource/sonarcloud-github-action@master
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
