name: "[Test] Mobile App"

on:
  push:
    branches:
      - main
      - develop
  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test-mobile-app:
    name: "Ledger Live Mobile Tests"
    env:
      NODE_OPTIONS: "--max-old-space-size=7168"
      TURBO_TEAM: ${{ secrets.TURBO_TEAM }}
      TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
      FORCE_COLOR: 3

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: pnpm/action-setup@v2.1.0
        with:
          version: latest
      - uses: actions/setup-node@v3
        with:
          node-version: 14
          cache: pnpm
          cache-dependency-path: "**/pnpm-lock.yaml"
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.7
      - name: Bump npm to latest
        run: npm i -g npm
      - name: Install dependencies
        run: pnpm i --filter="live-mobile..." --filter="ledger-live" --no-frozen-lockfile --unsafe-perm
      - name: Run linter
        run: pnpm lint --filter="live-mobile"
      - name: Run code checkers
        run: pnpm typecheck --filter="live-mobile"
