name: "[UI Libs] - Test - Called"

on:
  workflow_call:
  workflow_dispatch:
    inputs:
      ref:
        description: |
          If you run this manually, and want to run on a PR, the correct ref should be refs/pull/{PR_NUMBER}/merge to
          have the "normal" scenario involving checking out a merge commit between your branch and the base branch.
          If you want to run only on a branch or specific commit, you can use either the sha or the branch name instead (prefer the first verion for PRs).
        type: string
        required: false
      login:
        description: The GitHub username that triggered the workflow
        type: string
        required: false
      base_ref:
        description: The base branch to merge the head into when checking out the code
        type: string
        required: false
      prNumber:
        description: PR number
        type: string
        required: false

permissions:
  id-token: write
  contents: read
  pull-requests: write

jobs:
  test-design-system:
    name: "UI Libs Test"
    env:
      NODE_OPTIONS: "--max-old-space-size=7168"
      FORCE_COLOR: 3
      CI_OS: ubuntu-22.04

    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: ${{ inputs.ref || github.sha }}
      - name: Setup the caches
        uses: LedgerHQ/ledger-live/tools/actions/composites/setup-caches@develop
        id: setup-caches
        with:
          install-proto: true
          skip-turbo-cache: "false"
          accountId: ${{ secrets.AWS_ACCOUNT_ID_PROD }}
          roleName: ${{ secrets.AWS_CACHE_ROLE_NAME }}
          region: ${{ secrets.AWS_CACHE_REGION }}
          turbo-server-token: ${{ secrets.TURBOREPO_SERVER_TOKEN }}
      - name: Install dependencies
        run: pnpm i --filter="./libs/ui/**"
      - name: Run unit tests
        run: pnpm --filter="./libs/ui/**" test:jest:coverage
      - name: Upload unit test coverage (react)
        id: generate_coverage_react
        if: ${{ !cancelled() }}
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: coverage-ui-react
          path: ${{ github.workspace }}/libs/ui/packages/react/coverage
      - name: Upload unit test coverage (native)
        id: generate_coverage_native
        if: ${{ !cancelled() && hashFiles('libs/ui/packages/native/coverage/**') != '' }}
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: coverage-ui-native
          path: ${{ github.workspace }}/libs/ui/packages/native/coverage
      - name: Build and Test affected libraries
        id: test-ui
        run: pnpm run test --continue --filter="./libs/ui/**" --filter="!./e2e/mobile/**" --filter="!./apps/ledger-live*...[${{ inputs.since_branch && format('origin/{0}', inputs.since_branch) || 'HEAD^1' }}]" --api="http://127.0.0.1:${{ steps.setup-caches.outputs.port }}" --token="${{ secrets.TURBOREPO_SERVER_TOKEN }}" --team="foo"
        shell: bash
      - name: (On Failure) Upload react-ui test results
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        if: failure()
        with:
          name: react-ui-test-results-ubuntu
          path: |
            libs/ui/tests/react.spec.js-snapshots/
            libs/ui/test-results/
      - uses: actions/github-script@v7
        if: ${{ !cancelled() }}
        with:
          script: |
            const fs = require("fs");
            fs.writeFileSync("summary-ui-ubuntu.txt", "${{ steps.test-ui.outcome }}", "utf-8");
      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        if: ${{ !cancelled() }}
        with:
          name: outputs-test-ui
          path: ${{ github.workspace }}/summary-ui-ubuntu.txt
