name: "Test libraries"

on:
  workflow_call:
  workflow_dispatch:
    inputs:
      ref:
        description: |
          If you run this manually, and want to run on a PR, the correct ref should be refs/pull/{PR_NUMBER}/merge to
          have the "normal" scenario involving checking out a merge commit between your branch and the base branch.
          If you want to run only on a branch or specific commit, you can use either the sha or the branch name instead (prefer the first verion for PRs).
        type: string
        required: false
      login:
        description: The GitHub username that triggered the workflow
        type: string
        required: false
      base_ref:
        description: The base branch to merge the head into when checking out the code
        type: string
        required: false
      prNumber:
        description: PR number
        type: string
        required: false

permissions:
  contents: read
  pull-requests: write

jobs:
  test-libraries:
    name: "Test Libraries"
    env:
      NODE_OPTIONS: "--max-old-space-size=8192"
      FORCE_COLOR: 3
      CI_OS: ubuntu-22.04

    runs-on: [ledger-live-4xlarge]
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ inputs.ref || github.sha }}
          fetch-depth: 0
      - name: Setup the caches
        uses: LedgerHQ/ledger-live/tools/actions/composites/setup-caches@develop
        id: cache
        with:
          skip-turbo-cache: "false"
          accountId: ${{ secrets.AWS_ACCOUNT_ID_PROD }}
          roleName: ${{ secrets.AWS_CACHE_ROLE_NAME }}
          region: ${{ secrets.AWS_CACHE_REGION }}
          turbo-server-token: ${{ secrets.TURBOREPO_SERVER_TOKEN }}
      - name: Install dependencies
        run: pnpm i --filter="!./apps/**"
      - name: Build and Test affected libraries
        id: test-libs
        run: pnpm run test --continue --filter="!./apps/**" --filter="!./libs/ui/**" --filter="!./tools/**" --filter="!ledger-live...[${{ inputs.since_branch && format('origin/{0}', inputs.since_branch) || 'HEAD^1' }}]" --api="http://127.0.0.1:${{ steps.cache.outputs.port }}" --token="${{ secrets.TURBOREPO_SERVER_TOKEN }}" --team="foo"
        shell: bash
      - name: (On Failure) Upload live-common snapshots and source
        uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: live-common-src
          path: |
            libs/ledger-live-common/src
      - uses: actions/github-script@v6
        if: ${{ !cancelled() }}
        with:
          script: |
            const fs = require("fs");
            fs.writeFileSync("summary-tests.txt", "${{ steps.test-libs.outcome }}", "utf-8");
      - uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: outputs-test-libraries
          path: ${{ github.workspace }}/summary-tests.txt
