name: "[Common] - Integration - PR"

on:
  pull_request:
    branches-ignore:
      - "smartling-content-updated**"
      - "smartling-translation-completed**"

concurrency:
  group: ci-integration-${{ github.ref }}

permissions:
  id-token: write
  contents: read

jobs:
  is-affected:
    outputs:
      is-affected: ${{ steps.affected.outputs.is-affected }}
      paths: ${{ steps.affected.outputs.paths }}
      coins: ${{ steps.affected.outputs.coins }}
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: develop
          fetch-depth: 0
      - name: checkout branch (PR)
        if: ${{ github.event_name == 'pull_request' }}
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          gh pr checkout ${{ github.event.pull_request.number }}
      - name: checkout branch (not PR)
        if: ${{ github.event_name != 'pull_request' }}
        run: |
          git checkout $GITHUB_SHA
      - uses: LedgerHQ/ledger-live/tools/actions/live-common-affected@develop
        id: affected
        with:
          ref: ${{ github.event_name == 'pull_request' && format('origin/{0}', github.event.pull_request.base.ref) || 'HEAD^' }}

  integration-tests:
    name: "Integration Tests"
    needs: is-affected
    if: ${{ needs.is-affected.outputs.is-affected == 'true' }}
    env:
      NODE_OPTIONS: "--max-old-space-size=7168"
      FORCE_COLOR: 3
      CI_OS: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-22.04
          - macos-14
          - windows-2022

    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Setup the caches
        uses: LedgerHQ/ledger-live/tools/actions/composites/setup-caches@develop
        id: setup-caches
        with:
          install-proto: true
          skip-turbo-cache: "false"
          accountId: ${{ secrets.AWS_ACCOUNT_ID_PROD }}
          roleName: ${{ secrets.AWS_CACHE_ROLE_NAME }}
          region: ${{ secrets.AWS_CACHE_REGION }}
          turbo-server-token: ${{ secrets.TURBOREPO_SERVER_TOKEN }}
      - name: Install node-gyp globally
        if: runner.os == 'Windows'
        run: |
          pnpm add -g node-gyp@3.8.0
      - name: Install dependencies
        run: pnpm i --filter="live-common..." --filter="ledger-live"
      - name: Build
        run: pnpm build:llc --api="http://127.0.0.1:${{ steps.setup-caches.outputs.port }}" --token="${{ secrets.TURBOREPO_SERVER_TOKEN }}" --team="foo"
      - name: Test
        shell: bash
        env:
          COINS: ${{ needs.is-affected.outputs.coins }}
          VERBOSE_FILE: logs.txt
        run: |
          for COIN in $COINS; do
            echo "families/$COIN" | xargs pnpm common ci-test-integration
            git diff --exit-code libs/ledger-live-common/src
          done
      - name: (On Failure) Upload live-common snapshots and source
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        if: failure()
        with:
          name: ${{ format('live-common-src-{0}', matrix.os) }}
          path: |
            libs/ledger-live-common/src
      - name: (On Failure) Upload logs
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        if: failure()
        with:
          name: logs.txt
          path: logs.txt
