name: "Test Mobile E2E"

on:
  schedule:
    - cron: "0 3 * * 1-5"
  workflow_call:
  workflow_dispatch:
    inputs:
      ref:
        description: |
          If you run this manually, and want to run on a PR, the correct ref should be refs/pull/{PR_NUMBER}/merge to
          have the "normal" scenario involving checking out a merge commit between your branch and the base branch.
          If you want to run only on a branch or specific commit, you can use either the sha or the branch name instead (prefer the first verion for PRs).
        type: string
        required: false
      login:
        description: The GitHub username that triggered the workflow
        type: string
        required: false
      base_ref:
        description: The base branch to merge the head into when checking out the code
        type: string
        required: false
      export_to_xray:
        description: Send tests results to Xray
        required: false
        type: boolean
        default: false
      test_execution_android:
        description: "[Android] Test Execution ticket ID. Ex: 'B2CQA-2461'"
        required: false
        type: string
      test_execution_ios:
        description: "[iOS] Test Execution ticket ID. Ex: 'B2CQA-2461'"
        required: false
        type: string
      speculos_tests:
        description: Run Speculos tests
        required: false
        type: boolean
        default: false
      slack_notif:
        description: "Send notification to Slack?"
        required: false
        type: boolean
        default: false
      enable_broadcast:
        description: "Enable transaction broadcast"
        required: false
        type: boolean
        default: false
      production_firebase:
        description: "Target Production Firebase environment"
        required: false
        type: boolean
        default: false

# Uncomment to have log-level: trace on detox run and build
# (cf: apps/ledger-live-mobile/detox.config.js)
# env:
#   DEBUG_DETOX: true

permissions:
  id-token: write
  contents: read

env:
  SPECULOS_IMAGE_TAG: ghcr.io/ledgerhq/speculos:0.11
  COINAPPS: ${{ github.workspace }}/coin-apps
  SPECULOS_RUN: ${{ inputs.speculos_tests || github.event_name == 'schedule' }}

jobs:
  detox-tests-ios:
    name: "LLM - iOS Detox Tests"
    runs-on: [pa4-r102-srv-macrunner06]
    if: ${{ !inputs.speculos_tests && github.event_name != 'schedule' }}
    env:
      NODE_OPTIONS: "--max-old-space-size=7168"
      LANG: en_US.UTF-8
      LANGUAGE: en_US.UTF-8
      LC_ALL: en_US.UTF-8
    outputs:
      status: ${{ steps.detox.outcome }}
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ inputs.ref || github.sha }}
      - name: setup caches
        id: caches
        uses: LedgerHQ/ledger-live/tools/actions/composites/setup-caches@develop
        with:
          skip-pod-cache: "true"
          skip-turbo-cache: "false"
          accountId: ${{ secrets.AWS_ACCOUNT_ID_PROD }}
          roleName: ${{ secrets.AWS_CACHE_ROLE_NAME }}
          region: ${{ secrets.AWS_CACHE_REGION }}
          turbo-server-token: ${{ secrets.TURBOREPO_SERVER_TOKEN }}
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        id: aws
        with:
          role-to-assume: arn:aws:iam::${{ secrets.AWS_ACCOUNT_ID_PROD }}:role/${{ secrets.AWS_CACHE_ROLE_NAME }}
          aws-region: ${{ secrets.AWS_CACHE_REGION }}
      - uses: nick-fields/retry@v3
        name: install dependencies
        with:
          max_attempts: 2
          timeout_minutes: 15
          command: pnpm i --filter="live-mobile..." --filter="ledger-live" --filter="@ledgerhq/dummy-*-app..." --no-frozen-lockfile --unsafe-perm
          new_command_on_retry: rm -rf ~/.cocoapods/ && pnpm clean && pnpm i --filter="live-mobile..." --filter="ledger-live" --filter="@ledgerhq/dummy-*-app..." --no-frozen-lockfile --unsafe-perm
      - name: cache detox build
        uses: tespkg/actions-cache@v1
        if: steps.aws.conclusion == 'success'
        id: detox-build
        with:
          path: ${{ github.workspace }}/apps/ledger-live-mobile/ios/build/Build/Products/Release-iphonesimulator
          key: ${{ runner.os }}-detox-${{ hashFiles('apps/ledger-live-mobile/ios/Podfile.lock', 'apps/ledger-live-mobile/ios/ledgerlivemobile.xcodeproj/project.pbxproj', 'apps/ledger-live-mobile/detox.config.js', 'apps/ledger-live-mobile/.env.mock', 'apps/ledger-live-mobile/ios/ledgerlivemobile/AppDelegate.mm') }}
          accessKey: ${{ env.AWS_ACCESS_KEY_ID }}
          secretKey: ${{ env.AWS_SECRET_ACCESS_KEY }}
          sessionToken: ${{ env.AWS_SESSION_TOKEN}}
          bucket: ll-gha-s3-cache
          region: ${{ secrets.AWS_CACHE_REGION }}
          use-fallback: false
      - name: Build dependencies
        run: |
          pnpm build:llm:deps --api="http://127.0.0.1:${{ steps.caches.outputs.port }}" --token="${{ secrets.TURBOREPO_SERVER_TOKEN }}" --team="foo"
      - name: Build Dummy Live SDK and Dummy Wallet API apps for testing
        run: |
          pnpm build:dummy-apps
        shell: bash
      - name: Create iOS simulator
        id: simulator
        run: xcrun simctl create "iOS Simulator" "iPhone 15"
      - name: Build iOS app for Detox test run
        if: steps.detox-build.outputs.cache-hit != 'true'
        run: pnpm mobile e2e:ci -p ios -b
      - name: Build JS Bundle app for Detox test run
        if: steps.detox-build.outputs.cache-hit == 'true'
        run: pnpm mobile e2e:ci -p ios --bundle
      - name: Setup Speculos image and Coin Apps
        if: ${{ env.SPECULOS_RUN == 'true' }}
        uses: LedgerHQ/ledger-live/tools/actions/composites/setup-speculos_image@develop
        with:
          coinapps_path: ${{ env.COINAPPS }}
          speculos_tag: ${{ env.SPECULOS_IMAGE_TAG }}
          bot_id: ${{ secrets.GH_BOT_APP_ID }}
          bot_key: ${{ secrets.GH_BOT_PRIVATE_KEY }}
      - name: Test iOS app
        id: detox
        timeout-minutes: 75
        run: pnpm test:llm:ios:e2e --api="http://127.0.0.1:${{ steps.caches.outputs.port }}" --token="${{ secrets.TURBOREPO_SERVER_TOKEN }}" --team="foo" -- -p ios -t $([[ "$INPUT_SPECULOS" == "true" ]] && printf %s '--speculos')
        env:
          SEED: ${{ secrets.SEED_QAA_B2C }}
          INPUT_SPECULOS: ${{ env.SPECULOS_RUN }}
      - name: Delete iOS simulator
        if: ${{ always() }}
        run: |
          xcrun simctl list devices | grep 'iOS Simulator' | awk -F '[()]' '{print $2}' | xargs -I {} sh -c 'echo "Deleting simulator: {}"; xcrun simctl delete {} || echo "Failed to delete: {}"'
      - name: Upload test artifacts
        uses: actions/upload-artifact@v4
        if: ${{ !cancelled() || steps.detox.outcome == 'cancelled' }}
        with:
          name: "ios-test-artifacts"
          path: apps/ledger-live-mobile/artifacts
