name: "[Test] Integration"

on: pull_request

concurrency:
  group: ci-integration-${{ github.ref }}

jobs:
  is-affected:
    outputs:
      is-affected: ${{ steps.affected.outputs.is-affected }}
      paths: ${{ steps.affected.outputs.paths }}
    runs-on: [ubuntu-latest]
    steps:
      - uses: actions/checkout@v3
        with:
          ref: develop
          fetch-depth: 0
      - name: checkout branch (PR)
        if: ${{ github.event_name == 'pull_request' }}
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          gh pr checkout ${{ github.event.pull_request.number }}
      - name: checkout branch (not PR)
        if: ${{ github.event_name != 'pull_request' }}
        run: |
          git checkout $GITHUB_SHA
      - uses: ./tools/actions/live-common-affected
        id: affected
        with:
          ref: ${{ github.event_name == 'pull_request' && format('origin/{0}', github.event.pull_request.base.ref) || 'HEAD^' }}

  integration-tests:
    name: "Integration Tests"
    needs: is-affected
    if: ${{ needs.is-affected.outputs.is-affected == 'true' }}
    env:
      NODE_OPTIONS: "--max-old-space-size=7168"
      FORCE_COLOR: 3
      CI_OS: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest

    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - name: Setup the toolchain
        uses: ./tools/actions/composites/setup-toolchain
        with:
          upgrade_npm: ${{ matrix.os == 'windows-latest' }}
      - name: Install node-gyp globally
        if: runner.os == 'Windows'
        run: |
          pnpm add -g node-gyp
      - name: Install dependencies
        run: pnpm i --filter="live-common..." --filter="ledger-live"
      - name: Build
        run: pnpm build:llc
      - name: Test
        shell: bash
        env:
          FILTER: ${{ needs.is-affected.outputs.paths }}
          VERBOSE_FILE: logs.txt
        run: |
          echo $FILTER | xargs pnpm common ci-test-integration
          git diff --exit-code libs/ledger-live-common/src
      - name: (On Failure) Upload live-common snapshots and source
        uses: actions/upload-artifact@v3
        if: failure()
        with:
          name: ${{ format('live-common-src-{0}', matrix.os) }}
          path: |
            libs/ledger-live-common/src
      - name: (On Failure) Upload logs
        uses: actions/upload-artifact@v3
        if: failure()
        with:
          name: logs.txt
          path: logs.txt
